<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>{{profile.name}} | {{profile.description}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta property="og:url"         content="http://argonn.me/" />
    <meta property="og:type"        content="website" />
    <meta property="og:title"       content="{{profile.name}} | {{profile.description}}" />
    <meta property="og:description" content="{{meta.description}}" />
    <meta property="og:image"       content="{{meta.socialImageUrl}}" />
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="media profile">
                <img src="{{ profile.imageUrl }}"
                    class="align-self-center profile-pic">
                <div class="media-body">
                    <h1 class="display-4">{{profile.name}}</h1>
                    <p class="lead">{{profile.tagline}}</p>
                    <p class="social-icons">
                        {% for socialType, socialEntry in social %}
                            {% if socialType == "mail" %}
                                <a target="_blank" href="mailto:{{socialEntry.address}}">
                                    <img src="{{socialEntry.imageUrl}}" class="social-icon">
                                </a>
                            {% else %}
                                <a target="_blank" href="{{socialEntry.url}}">
                                    <img src="{{socialEntry.imageUrl}}" class="social-icon">
                                </a>
                            {% endif %}
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">        
        <div class="row portfolio-header">
            <div class="col-12">
                <h2>Projekte</h2>
            </div>
        </div>
        <div class="row card-row portfolio-card-row">
            {% for project in projects %}
                <div class="col-sm-6 col-lg-4">
                    <div class="card" style="width: 100%;">
                        <img class="card-img-top" src="{{project.image.url}}" alt="{{project.image.alt}}">
                        <div class="card-body">
                            <h5 class="card-title">{{project.headline | safe}}</h5>
                            <p class="card-text">{{project.htmlDescription | safe}}</p>
                            {% for button in project.buttons %}
                                <a target="_blank" href="{{button.url}}" class="btn btn-primary">{{button.label}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row portfolio-header">
            <div class="col-12">
                <h2>Stationen</h2>
            </div>
        </div>
        <!-- Timeline -->
        <div class="row timeline-row">
            <div class="col-12">
                <section class="cd-timeline js-cd-timeline">
                    <div class="cd-timeline__container">
                        {% for milestone in milestones %}
                            {% set imageName = "ios-school-white" %}
                            {% if milestone.type == "work" %}
                                {% set imageName = "ios-build" %}
                            {% endif %}
                            <div class="cd-timeline__block {% if milestone.type == 'work' %}cd-timeline__block--right {% endif %}js-cd-block">
                                <div class="cd-timeline__img cd-timeline__img--{{milestone.type}} js-cd-img">
                                    <img src="./assets/{{imageName}}.svg" alt="">
                                </div>
                                <div class="cd-timeline__content js-cd-content">
                                    <h4>{{milestone.headline}}</h4>
                                    <p>{{milestone.description}}</p>
                                    <span class="cd-timeline__date">{{milestone.date}}</span>
                                </div>
                            </div>    
                        {% endfor %}
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div class="jumbotron jumbotron-fluid jumbotron-footer">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-6 offset-sm-3 col-lg-4 offset-lg-4 text-center">
                    <!-- Imprint -->
                    <div class="media">
                        <div class="media-body">
                            <h4>{{profile.name}}</h4>
                            <p><a target="_blank" href="mailto:{{social.mail.address}}">{{social.mail.address}}</a></p>
                            <p>{{profile.address}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>