$animation-duration: .25s;
.portfolio-header {
    background: $color-white;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    box-shadow: 0 -1px 1px 0 $color-white;
    margin-bottom: 20px;
    margin-top: 2rem;
    padding-top: 1px;
    position: sticky;
    text-align: center;
    top: -1px;
    transition: box-shadow $animation-duration;
    z-index: 1;
    @each $breakpoint-name,
    $container-width in $container-max-widths {
        @media (min-width: map-get($grid-breakpoints, $breakpoint-name)) {
            $section-width: calc(#{$container-width} - 15px);
            margin-left: calc(-100vw / 2 + #{$section-width} / 2);
            margin-right: calc(-100vw / 2 + #{$section-width} / 2);
        }
    }
    &.sticky {
        box-shadow: 0 2px 10px -5px $color-lightgrey, 0 -1px 1px 0 $color-white;
        h2 {
            font-size: 1.25rem;
        }
    }
    h2 {
        margin-top: .5rem;
        transition: font-size $animation-duration;
    }
}

.card-row {
    &.portfolio-card-row .btn {
        margin: 0 10px 10px 0;
    }
    & .card {
        margin-bottom: 20px;
    }
}

.jumbotron-header {
    position: relative;
    .container {
        position: relative;
    }
}

.jumbotron-footer {
    margin-bottom: 0;
    background: $color-darkgrey;
    color: $color-grey;
    font-weight: 200;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 300;
    }
    p {
        margin-bottom: 0;
    }
}

.profile-pic {
    border: 2px solid white;
    border-radius: 50%;
    margin: 0 20px;
    max-width: 150px;
}

.social-icons {
    a {
        &:hover {
            text-decoration: none;
            opacity: .7;
            .social-icon {
                color: $color-red;
            }
        }
        .social-icon {
            max-width: 32px;
        }
    }
}

.btn {
    & img {
        max-width: 20px;
    }
}

#code-jumbotron {
    position: absolute;
    top: 0;
    width: 100%;
    right: 0;
    height: 100%;
    @media (min-width: 1024px) {
        width: 60%;
    }
}

.code-hint {
    bottom: .7rem;
    position: absolute;
    right: .7rem;
    p {
        color: $color-darkgrey;
        font-size: .7rem;
        margin: 0;
    }
}

@include media-breakpoint-down(xs) {
    .media.profile {
        display: block;
        text-align: center;
    }
    .code-hint {
        left: .7rem;
        text-align: center;
    }
}