div.row.portfolio-header {
    border-bottom: 1px solid rgba(0,0,0,.125);
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: center;
}

.card-row {

    &.portfolio-card-row .btn {
        margin: 0 10px 10px 0;
    }

    & .card {
        margin-bottom: 20px;
    }
}

.jumbotron-footer {
    
    margin-bottom: 0;
    background: $color-darkgrey;
    color: $color-grey;
    font-weight: 200;

    h1, h2, h3, h4, h5, h6 {
        font-weight: 300;
    }

    p {
        margin-bottom: 0;
    }
}

.profile-pic {
    border: 2px solid white;
    border-radius: 50%;
    margin: 0 20px;
    max-width: 150px;
}

.social-icons {

    a {

        &:hover {
            text-decoration: none;
            opacity: .7;

            .social-icon {
                color: $color-red;
            }
        }

        .social-icon {
            max-width: 32px;
        }
    }
}

.btn {
    & img {
        max-width: 20px;
    }
}

@include media-breakpoint-down(xs) {
    .media.profile {
        display: block;
        text-align: center;
    }
}